.color-tema {
    background-color: #99C482;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 54px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.icono {
    color: black;
}

.boton {
    cursor: pointer;

}

.boton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
